# DO NOT PUT REAL PRIVATE KEYS INTO THIS FILE
# This is a local rich wallet private key for development and learning purposes only
WALLET_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80